<!-- <h2> <%= title %> </h2>

<% if(locals.token && locals.token.isValid) { %>
    <form action="/users/update_password/<%= token.accessToken %>" method="POST">
        <input type="password" name="password" placeholder="New Password">
        <input type="password" name="confirmPassword" placeholder="Confirm New Password">
        <input type="submit" value="Submit">
    </form>
<% } else{  %>
    <form action="/users/forgot_password_user_verification" method="POST">
        <input type="email" name='email' id='' placeholder="Enter your email">
        <input type="submit" name='' id='' value="Submit">
    </form>
<% } %> -->

<link rel='stylesheet' href='<%= assetPath('css/user_profile.css') %>'>


<div id="user-profile-body" class="font-family-bahnschrift">

    <div id="user-profile-container">
        <div id="user-profile-header">
            <h2>Forgot Password</h2>
        </div>

        <div id="form-container">
            <% if(locals.token && locals.token.isValid) { %>
                <%= title %>
                <form action="/users/update_password/<%= token.accessToken %>" method="POST">
                    <input type="password" name="password" placeholder="New Password">
                    <input type="password" name="confirmPassword" placeholder="Confirm New Password">
                    <input type="submit" value="Submit" id="form-btn">
                </form>
            <% } else{  %>
                <%= title %>
                <form action="/users/forgot_password_user_verification" method="POST">
                    <input type="email" name='email' id='' placeholder="Enter your email">
                    <input type="submit" value="Submit" id="form-btn">
                </form>
            <% } %>
        </div>
    </div>

</div>