<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <!-- <h4 class="font-family-bahnschrift">What's in your mind !?</h4> -->
        <div id="new-post-form-container">
            <% if(locals.user){ %>
                    <form action="/posts/create" id="new-post-form" method="POST">
                        <textarea name='content' cols='50' rows='4' placeholder='Share a Post' id="textarea" required></textarea>
                        <!-- <input type='text' name='content'  placeholder='Share a Post' required> -->
                        <input type='submit' value="Post" id="new-post-form-btn" class="font-family-bahnschrift">
                    </form>
            <% } %>
        </div>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) { %>
                    <%- include('_post') -%>
                <% } %>

            </ul>
        </div>
    </section>

    <section id="user-friends"  class="font-family-bahnschrift">
        <% if(locals.user) { %>
            <div id="user-profile">
                <h1>Hello <%=locals.user.name%></h1>
                
                <% if(locals.user.avatar) { %>
                    <img src=<%= user.avatar %> alt=<%= user.name %> width="50">
                <% } else { %>
                    <img src='https://i.pinimg.com/550x/18/b9/ff/18b9ffb2a8a791d50213a9d595c4dd52.jpg' alt=''>
                <% } %>
            </div>
        <% } %>
        <div id=user-friends-list>
            <h4>Users on Codeial (so far)</h4>
            <% for(u of all_users){ %>
                <p id="user-name">
                    <a href="/users/profile/<%= u.id %>">
                        <%= u.name %>
                        <%if(locals.user && locals.user.id == u.id) { %> 
                            <small> (Me) </small>
                        <% } %>
                    </a>
                    
                </p>
            <% } %>
        </div>

        
    </section>

</div>
<script src='/js/home_comments.js'></script>
<script src='/js/home_posts.js'></script>
<script src='/js/toggle_likes.js'></script>


<script>
    $('.toggle-like-button').each(function(){
        let self = this;    // 'this' is the href of <a> tag with class 'toggle-like-button'
        let toggleLike = new ToggleLike(self);  // create new instance/object of class 'ToggleLike'
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user) { %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>
<% } %>